* { /* Navbar som fyller ut hele siden */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav { /* Navigation bar */
    display: flex;
    align-items: center;
    background-color: #3cb6c6;
    height: 50px;
    padding: 65px 85px;
    justify-content: space-around;
}

nav li { /* Fjerner punkt elementer i nav bar */
    display: inline-block;
    margin-right: 20px; 
    position: relative;
}

.logo a { /* Fjerner "link" funksjon til tekstelementer i nav bar */
    text-decoration: none;
    color: #000000; 
    height: 130px;  
}

.logo { /* Logo posisjon i nav bar */
    display: flex;
    justify-content: space-around;
    margin-right: 0%;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: Optima;
}

.sirkel-logo { /* Sirkelen rundt P35 i nav bar */
    width: 100px; 
    height: 90px;
    border-radius: 50%; /* Gjør en firkantet div til en sirkel */
    background-color:blanchedalmond;
    border-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50x;
    margin-bottom: 4px;

}

.nav-menu { /* Nav bar tekstelementers plassering */ 
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25px;
}

.nav-menu a { /* Utseende til tekstelementer i nav bar */
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-family: Optima;
}
.nav-menu a:hover { /* Skygge over linkelementer i nav bar når man rører dem */
    color: grey;
}

/*SIDE 1 INDEX */
#index_image { /* Første bilde på index side */
    height: 750px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
}

.image-container{ /* Denne klassen brukes til å stilisere en "container" som inneholder tekst nederst på første bilde */
    position: relative;
    text-align: center;
    color:#fff;
  }

.bilde-kilde1{ /* Stiliserer tekstelementet inn i containeren image-container */
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 20px;
}

.index-tekstboks { /* Stiliserer en tekstboks som vises øverst på et bilde på index siden */
    width: 750px;
    height: 350px;
    border: 15px;
    background-color: #20636ad4;
    padding: 20px;
    position: absolute;
    top: 280px;
    right: 0;
    text-align: left;
}

.index-tekstboks h2 { /* Stiliserer første header i tekstboksen på første side */
    font-weight: 500;
    line-height: 1;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Optima;
}

.index-tekstboks h3 { /* Stiliserer andre header i tekstboksen på første side */
    font-weight: 500;
    color: white;
    font-size: 30px;
    line-height: 1.5;
    font-family: Optima;
 
}

.info-boks { /* Tekstboks under bildet på side 1 */
    right: 0;
    left: 0;
    background-color: blanchedalmond;
    height: 200px;
}

.info-boks h3 { /* Stiliserer tekst i tekstboksen som forteller om fakultet */
    font-weight: 200px;
    font-size: 28px;
    line-height: 4;
    margin-left: 100px;
    font-family: Optima;

}

.les-mer-boks { /* Posisjon og størrelse på liten info knapp i tekstboks */
    height: 50px;
    width: 200px;
    left: 95px;
    right: 30px;
    position: absolute;
    background-color: #20636ad4;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 60px;
    
}

.les-mer-boks h4{ /* Header til liten info knapp */
    margin-top: 5px;
    font-weight: 600;
    font-family: Optima;
}

.les-mer-boks a { /* Fjerner link linja under teksten i info knappen */
    text-decoration: none;
    color: white;
}

.les-mer-boks a:hover { /* Skygge over elementer i info knapp når man rører dem */
    color: #fff;
}

.container { /* En "container" som definerer område der bilde nr 2 og tekst skal plasserers ved siden av hverandre */
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ffffff3c;
}

.venstre-bilde { /* Bilde på venstre side av container */
    margin: 70px;
}

.høyre-tekst h2 { /* Stilen til overskriften i container */
font-size: 35px;
line-height: 3;
font-family: Optima;
}

.høyre-tekst p{ /* Stil på teksten i container */
font-size: 30px;
font-family: Optima;
}

.venstre-bilde img { /* Bilde nr 2 plassering i container */
    width: 50vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
}

.bilde2-container{ /* Container for teksten på bunnen av bilde nr 2 */
    position: relative;
    text-align: center;
  }

.bilde-kilde2{ /* Stiliserer tekstelementet inn i containeren bilde2-container */
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 20px;
  color:#fff;
}

.footer-bar { /*navbar på bunn */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3cb6c6;
    height: 100px;
}

.footer-bar a { /* fjerner link utseende og erstatter det med svart tekst farge uten linje under */
  text-decoration: none;
  color: #000000; 
}

.footer-bar li { /* Utseende på footer bar elementer */
  color: #000000;
  font-size: 15px;
  font-family: Optima;
}


/* SIDE 2 ACCESIBILITY */

.header-side2 h1 {
text-align: center;
margin-top: 60px;
font-size: 50px;
font-family: Optima;
}

.testresultat-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ffffff3c;
}

.resultat-bilde {
 
}

.resultat-bilde img {
  width: 50vw;
    height: 100vh;
    display: block;
    object-fit: contain;
    object-position: center;
}

.resultat-tekst {
  font-size: 30px;
  font-family: Optima;
  line-height: 40px;
}



/* SIDE 3 - TOPIC */
#topicalbilde-digitalcities{ /* Bilde "Digital Cities" på side 3 */
  width: 100%;
  height: 83%;
  position: relative;
}

.topical-tekstboks1{ /* Boks med overskriftselementer */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Optima;
  color: white;
  width: 100%;
  height: 84%;
  top: 59%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #00000099;
  flex-direction: column;
}

.topical-data1100{ /* Del av hovedoverskrift */
  text-align: center;
  font-size: 15;
  font-style: normal;
  color: white;
}
  
.topical-hovedoverskrift{ /* Del av hovedoverskrift */
  text-align: center;
  font-size: 60;
  font-weight: bold;
}

.topical-dato{ /* Del av hovedoverskrift */
  text-align: center;
  font-size: 15;
  font-weight: lighter;
  font-style: italic;
}

.bildekilde-digitalcity{ /* Kilde til bilde om Digital Cities */
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: auto;
  height: auto;
  color: white;
}

.topical-førsteavsnitt{ /*Første tekstavsnitt, elementer inni en boks */
  padding-right: 27%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 27%;
  font-size: 18;
  line-height: 2.0;
  font-family: Optima;
  width: 100%;
  height: auto;
  background-color: blanchedalmond;
  position: relative;
  border-top: 3px solid #000000;
}

.topical-andreavsnitt{ /* Immediate reactions */
  padding-right: 27%;
  padding-top: 1%;
  padding-left: 27%;
  padding-bottom: 15%;
  font-size: 18;
  line-height: 2.0;
  font-family: Optima;
  width: 100%;
  height: auto;
  background-color: blanchedalmond;
  position: relative;
}

.topical-positive{ /* Boks med elementer: Three positive aspects of digital cities */
  width: 25%; /* Bredde på boks */
  min-height: 102%;
  height: auto;
  border: 15px;
  background-color: #20636ad4; /* Farge på boksen */
  padding-left: 30px; /* Polstring. Luft mellom tekst og kant */
  padding-right: 30px;
  padding-top: 10px;
  position: absolute;
  top: 773px; 
  right: 0%;
  line-height: 1.9;
  color: blanchedalmond;
  border-radius: 10px;
}

.topical-positive h3{ /* Stiliserer overskrift */
  text-align: center;
  font-size: 25;
}

.topical-lenkeimportant{ /* Boks til lenke */
  height: auto;
  width: 250px;
  position: absolute;
  background-color: blanchedalmond;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14;
  border: 2px solid black;
  text-align: center;
  left: 55;
}

.topical-lenkeimportant a{
  text-decoration: none;
  color: black;
}

.topical-lenkeimportant a:hover{
  color: #20636ad4;
}

.topical-negative{ /* Boks med elementer: Three negative aspects */
  width: 25%; /* Bredde på boks */
  min-height: 102%;
  height: auto;
  border: 15px;
  background-color: #20636ad4; /* Farge på boksen */
  padding-left: 30px; /* Polstring. Luft mellom tekst og kant */
  padding-right: 30px;
  padding-top: 10px;
  position: absolute;
  top: 773px; 
  line-height: 1.9;
  color: blanchedalmond;
  border-radius: 10px;
}

.topical-negative h3{
  text-align: center;
  font-size: 25;
}

.topical-lenkenegative{ /* Posisjon og størrelse på boks med lenke */
  height: auto;
  width: 300px;
  position: absolute;
  background-color: blanchedalmond;
  border-radius: 10px;
  text-align: center;
  right: 35;
  margin-top: 55;
  box-shadow: 10px 10px 5px black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14;
  border: 2px solid black;
}

.topical-lenkenegative a{
  text-decoration: none;
  color: black;
}

.topical-lenkenegative a:hover{
  color: #20636ad4;
}

.container-side3{ /* En "container" som definerer området med et bilde og tekst */
  height: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  border-top: 2px solid black;
}

.ouropinionsbilde-side3{ /* Bilde på venstre side i container */
 position: relative;
 align-items: center;
 margin: 50px;
}

.topical-femteavsnitt h3{ /* Stilen til overskriften i container */
  font-size: 30px;
  line-height: 3;
  font-family: Optima;
  text-align: center;
}

.topical-femteavsnitt p{ /* Stilen på teksten i container */
  font-size: 18px;
  line-height: 2.0;
  font-family: Optima;
  padding: 25;
  margin-bottom: 70;
}

.ouropinionsbilde-side3 img{ /* Justerer bildet */
  width: 600px;
  height: 350px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-top: 10;
}

.bildecontainer-side3{ /* Container for teksten på bunnen av bildet */
  position: relative;
  text-align: left;
}

.topicalbilde-smartcities{ /*Bildeteksten */
  font-size: 15px;
  color: rgb(250, 247, 247);
  position: absolute;
  bottom: 2px;
  left: 10px;
}

.topical-sjetteavsnitt{ /* More information */
  height: auto;
  width: auto;
  position: absolute;
  top: 1400;
  left: 35%;
  background-color: #20636ad4;
  border-radius: 10px;
  margin-left: 25;
  margin-top: 55;
  box-shadow: 10px 10px 35px black;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}

.topical-sjetteavsnitt h3{ /* Stiliserer overskrift */
  text-align: center;
  font-size: 25;
  color: blanchedalmond;
}

.topical-sjetteavsnitt ul{ /* Stiliserer listeelementer */
  text-align: center;
  color: blanchedalmond;
  list-style: none;
}

.topical-sjetteavsnitt a{ /* Stiliserer lenkene */
  text-align: center;
  color: blanchedalmond;
  font-size: 13;
  line-height: 2.0;
}

.topical-sjetteavsnitt a:hover{
  color: #20636ad4;
}





/* LOCATION FUN PAGE ER UNDER HER- lagt til unique */

/* Stil for unik introseksjon */
.unique-intro-section {
  background-color: rgba(200, 200, 200, 0.7);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 10cm;
  height: 5cm;
  overflow: hidden;
}

.unique-intro-section h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.unique-intro-section p {
  margin-bottom: 10px;
}

/* Felles stiler for unik dropdown-knapper */
.unique-dropdown-btn {
  font-size: 30px;
  background-color: #bbb;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

/* Bakgrunnsendring ved hover for unik dropdown-knapper */
.unique-dropdown-btn:hover {
  background-color: #999;
}

/* Unike stiler for tilpasset meny */
.unique-custom-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.unique-custom-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.unique-custom-animate-zoom {
  animation: unique-custom-zoom 0.6s;
}

@keyframes unique-custom-zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.unique-custom-modal-header {
  padding: 2px 16px;
  background-color: #989898;
  color: white;
}

.unique-custom-close-button {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.unique-custom-close-button:hover,
.unique-custom-close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.unique-custom-modal-body {
  padding: 20px;
}

/* Unike stiler for kontaktmodal */
#uniqueContact {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.unique-custom-modal.black {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}

.unique-custom-container {
  padding: 16px;
}

.unique-custom-input,
.unique-custom-button {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}

.unique-custom-input,
.unique-custom-button {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}

.unique-custom-button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.unique-custom-button:hover {
  background-color: #555;
}

/* Unike stiler for deilig matbilde */
.unique-deliciousfood-image {
  background-image: url('images/delikatmat.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  z-index: -1;
}

.unique-bilde-referanse {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 14px;
  z-index: 1;
}
