
* { /* navbar fyller ut hele siden */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav { /* Navigation bar */
    display: flex;
    align-items: center;
    background-color: #3cb6c6;
    height: 50px;
    padding: 80px 100px;
    justify-content: space-around;
}

nav li {
    display: inline-block;
    margin-right: 20px; /* Adjust as needed */
    position: relative;
}

.logo a { /* fjerner "link" funksjon */
    text-decoration: none;
    color: #000000; 
    height: 130px;  
}

.logo { /*logo posisjon */
    display: flex;
    justify-content: space-around;
    margin-right: 0%;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: Optima;
}

.nav-menu { /* Navbar elementers plassering */ 
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25px;
}

.nav-menu a { /* elementer i navbar style */
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-family: Optima;
}
.nav-menu a:hover { /*skygge over elementer når man rører dem */
    color: grey;
}


/*SIDE 1 INDEX */
#index_image { /* bilde på index side */
    max-height: 750px;
    min-height: 170px;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
    width: 100%;
}

.image-text{ 
    position: relative;
    text-align: center;
    color:blanchedalmond;
  }

.nede-venstre{ /* kilde nederst på bilde index side */
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 20px;
}

.sirkel-1 {
    width: 100px; /* Sett ønsket bredde og høyde for sirkelen */
    height: 90px;
    border-radius: 50%; /* Gjør en firkantet div til en sirkel */
    background-color:blanchedalmond;
    border-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50x;
    margin-bottom: 4px;

}
.index-tekstboks {
    width: 750px;
    height: 350px;
    border: 15px;
    background-color: #20636ad4;
    padding: 20px;
    position: absolute;
    top: 280px;
    right: 0;
    text-align: left;
}

.index-tekstboks h2 {
    font-weight: 500;
    line-height: 1;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Optima;
}

.index-tekstboks h3 {
    font-weight: 500;
    color: white;
    font-size: 30px;
    line-height: 1.5;
    font-family: Optima;
 
}

.info-boks {
    right: 0;
    left: 0;
    background-color: blanchedalmond;
    height: 350px;
}

.info-boks h3 {
    font-weight: 400px;
    font-size: 23px;
    line-height: 8;
    margin-left: 100px;
    font-family: Optima;

}

.les-mer-boks {
    height: 50px;
    width: 200px;
    left: 95px;
    right: 30px;
    position: absolute;
    background-color: #3cb6c6;
    border-radius: 10px;
    text-align: center;
}

.les-mer-boks h4{
    margin-top: 5px;
    font-weight: 600;
}

.les-mer-boks a {
    text-decoration: none;
    color:#000000;
}

.les-mer-boks a:hover { /*skygge over elementer når man rører dem */
    color: grey;
}

.bottom-nav { /*navbar på bunn */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3cb6c6;
    height: 150px;
    padding: 20px 100px; /* Adjust the padding as needed */
}

.bottom-nav li{ /*nederst navbar tekst */
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-family: Optima;
}
    

/* SIDE 3 - TOPIC */

#side3Bilde-DigitalCities{ /* Bilde "Digital Cities" på side 3 */
    width: 100%;
    height: auto;


    /* max-height: 750px;
        min-height: 170px; */
}

.Bildekilde-DigitalCity{ /* Kilde til bilde om Digital Cities */
    bottom: 8px;
    left: 16px;
    font-size: 25px;
}


.side3-førsteavsnitt{
    padding-right: 450px;
    padding-top: 1000px;
}

.side3-andreavsnitt{
    padding-right: 450px;
    padding-top: 25px;
}

.side3-tredjeavsnitt{
    width: 300px; /* Bredde på boks */
    height: auto;
    border: 15px;
    background-color: #3cb6c6; /* Farge på boksen */
    padding: 30px; /* Polstring. Luft mellom tekst og kant */
    outline-style: hidden;
    position: absolute;
    top: 1050px; 
    right: 75px;
}

.side3-fjerdeavsnitt{
    width: 300px; /* Bredde på boks */
    height: auto;
    border: 15px;
    background-color: #3cb6c6; /* Farge på boksen */
    padding: 30px; /* Polstring. Luft mellom tekst og kant */
    outline-style: hidden;
    position: absolute;
    top: 1470px; 
    right: 75px;
}

.side3-femteavsnitt{
    padding-right: 450px;
    padding-top: 25px
}


.side3-sjetteavsnitt{
    width: 300px; /* Bredde på boks */
    height: auto;
    border: 15px;
    background-color: #3cb6c6; /* Farge på boksen */
    padding: 30px; /* Polstring. Luft mellom tekst og kant */
    outline-style: hidden;
    position: absolute;
    top: 2050px; 
    right: 75px;
}

.side3-sjetteavsnitt a:hover{
color: red;
}


.side3-data1100{
    text-align: center;
    font-size: 15;
    font-family: Optima;
    font-style: normal;
    color: white;
}
    
.side3-hovedoverskrift{
    text-align: center;
    font-size: 60;
    font-family: Optima;
    font-weight: bold;
    color: white;
}

.side3-dato{
    text-align: center;
    font-size: 15;
    font-family: Optima;
    font-weight: lighter;
    font-style: italic;
    color: white;
}

.side3-overskriftsboks{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 125%;
    padding: 0%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.side3-tekstboks1{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000008b;
    width: 100%;
    height: 100%;
    top: 477;
}


