* { /* Navbar som fyller ut hele siden */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav { /* Navigation bar */
  display: flex; /* Justerer elementene for å tilpasse til skjerm */
  align-items: center;
  background-color: #3cb6c6;
  height: 50px;
  padding: 65px 85px;
  justify-content: space-around; /* Justerer elementene for å tilpasse til skjerm */
}

nav li { /* Fjerner punkt elementer i nav bar */
  display: inline-block;
  margin-right: 20px; 
  position: relative;
}

.logo a { /* Fjerner "link" funksjon til tekstelementer i nav bar */
  text-decoration: none;
  color: #000000; 
  height: 130px;  
}

.logo { /* Logo posisjon i nav bar */
  display: flex;
  justify-content: space-around;
  margin-right: 0%;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  font-family: Optima;
}

.sirkel-logo { /* Sirkelen rundt P35 i nav bar */
  width: 100px; 
  height: 90px;
  border-radius: 50%; /* Gjør en firkantet div til en sirkel */
  background-color:blanchedalmond;
  border-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 4px;
}

.nav-menu { /* Nav bar tekstelementers plassering */ 
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 25px;
}

.nav-menu a { /* Utseende til tekstelementer i nav bar */
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-family: Optima;
}
.nav-menu a:hover { /* Skygge over linkelementer i nav bar når man rører dem */
  color: grey;
}

/*SIDE 1 INDEX */
#index_image { /* Første bilde på index side */
  height: 750px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: bottom;
}

.indeximage-container{ /* Denne klassen brukes til å stilisere en "container" som inneholder tekst nederst på første bilde */
  position: relative;
  text-align: center;
  color:#fff;
  }

.indeximage-kilde1{ /* Stiliserer tekstelementet inn i containeren image-container */
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 20px;
}

.index-tekstboks { /* Stiliserer en tekstboks som vises øverst på et bilde på index siden */
  width: 750px;
  height: 350px;
  border: 15px;
  background-color: #20636ad4;
  padding: 20px;
  position: absolute;
  top: 280px;
  right: 0;
  text-align: left;
}

.index-tekstboks h2 { /* Stiliserer første header i tekstboksen på første side */
  font-weight: 500;
  line-height: 1;
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: Optima;
}

.index-tekstboks h3 { /* Stiliserer andre header i tekstboksen på første side */
  font-weight: 500;
  color: white;
  font-size: 30px;
  line-height: 1.5;
  font-family: Optima;
}

.info-boks { /* Tekstboks under bildet på side 1 */
  right: 0;
  left: 0;
  background-color: blanchedalmond;
  height: 200px;
}

.info-boks h3 { /* Stiliserer tekst i tekstboksen som forteller om fakultet */
  font-weight: 200px;
  font-size: 28px;
  line-height: 4;
  margin-left: 100px;
  font-family: Optima;
}

.les-mer-boks { /* Posisjon og størrelse på liten info knapp i tekstboks */
  height: 50px;
  width: 200px;
  left: 95px;
  right: 30px;
  position: absolute;
  background-color: #20636ad4;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 60px;
}

.les-mer-boks h4{ /* Header til liten info knapp */
  margin-top: 5px;
  font-weight: 600;
  font-family: Optima;
}

.les-mer-boks a { /* Fjerner link linja under teksten i info knappen */
  text-decoration: none;
  color: white;
}

.les-mer-boks a:hover { /* Skygge over elementer i info knapp når man rører dem */
  color: #fff;
}

.ellengleditschs-container { /* En "container" som definerer område der bilde nr 2 og tekst skal plasserers ved siden av hverandre */
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ffffff3c;
}

.venstre-bilde { /* Bilde på venstre side av container */
  margin: 70px;
}

.høyre-tekst h2 { /* Stilen til overskriften i container */
  font-size: 35px;
  line-height: 3;
  font-family: Optima;
}

.høyre-tekst p{ /* Stil på teksten i container */
  font-size: 30px;
  font-family: Optima;
}

.venstre-bilde img { /* Bilde nr 2 plassering i container */
  width: 50vw;
  height: 100vh;
  display: block;
  object-fit: cover;
  object-position: center;
}

.bilde2-container{ /* Container for teksten på bunnen av bilde nr 2 */
  position: relative;
  text-align: center;
}

.bilde-kilde2{ /* Stiliserer tekstelementet inn i containeren bilde2-container */
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 20px;
  color:#fff;
}

.footer-bar { /* Navbaren på bunn */
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3cb6c6;
  height: 100px;
}

.footer-bar a { /* fjerner link utseende og erstatter det med svart tekst farge uten linje under */
  text-decoration: none;
  color: #000000; 
}

.footer-bar li { /* Utseende på footer bar elementer */
  color: #000000;
  font-size: 15px;
  font-family: Optima;
}



/* SIDE 2 ACCESIBILITY */

.headerside2-container { /* Container for header, slik at den har samme bakgrunn som resten av containerene på siden  */
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3cb6c688;
}


.header-side2 h1 { /* Stilisering av header */
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 50px;
  font-family: Optima;
}

.resultatside1-container { /*En "container" som definerer området med et bilde og tekst */
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3cb6c688;
}

.resultat-bilde1 { /* Bilde på venstre side i containeren */
  position: relative;
  align-items: center;
  margin: 50px;
}

.resultat-bilde1 img {  /* Bilde 1 plassering i resultatside1-container */
  width: 50vw;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

.tekstresultat-side1 h2 { /* Stilisering av header 2 */
  font-size: 30px;
  line-height: 1.5;
  font-family: Optima;
  text-align: center;
}

.tekstresultat-side1 p { /* Stilisering av paragraf tekst */
  font-size: 20px;
  line-height: 1.5;
  font-family: Optima;
  padding: 25;
}

.resultatside2-container { /* En "container" som definerer området med et bilde og tekst */
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3cb6c688;;
}

.resultat-bilde2 { /* Bilde på venstre side i resultatside2-containeren */
  position: relative;
  align-items: center;
  margin: 50px;
}

.resultat-bilde2 img { /* Bilde 2 plassering i resultatside2-container */
  width: 50vw;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

.tekstresultat-side2 h2 { /* Stilisering av header 2 avsnitt 2  */
  font-size: 30px;
  line-height: 1.5;
  font-family: Optima;
  text-align: center;
}

.tekstresultat-side2 p { /* Stilisering av paragraf tekst */
  font-size: 20px;
  line-height: 1.5;
  font-family: Optima;
  padding: 25;
}

.resultatside3-container { /* En "container" som definerer området med et bilde og tekst */
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3cb6c688;;
}

.resultat-bilde3 { /* Bilde 3 på venstre side i containeren */
  position: relative;
  align-items: center;
  margin: 50px;
}

.resultat-bilde3 img { /* Justerer bildet og plasserer det gunstig for å dekke resultatside3-container */
  width: 50vw;
  height: auto;
  display: block; 
  object-fit: cover;
  object-position: center;
}


.tekstresultat-side3 h2 { /* Stiliserer overskrift på avsnitt 3*/
  font-size: 30px;
  line-height: 1.5;
  font-family: Optima;
  text-align: center;
}

.tekstresultat-side3 p { /* Stiliserer paragraf avsnitt 3 */
  font-size: 20px;
  line-height: 1.5;
  font-family: Optima;
  padding: 25;
}

.resultatside4-container { /* En "container" som definerer området med et bilde og tekst */
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3cb6c688;;
}

.resultat-bilde4 { /* Bilde 4 på venstre side i containeren */
  position: relative;
  align-items: center;
  margin: 50px;
}

.resultat-bilde4 img { /* Justerer bildet og plasserer det gunstig for å dekke resultatside4-container */
  width: 50vw;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

.tekstresultat-side4 h2 { /* Stiliserer header på avsnitt fire */
  font-size: 30px;
  line-height: 1.5;
  font-family: Optima;
  text-align: center;
}

.tekstresultat-side4 p { /* Stiliserer paragraf avsnitt 4 */
  font-size: 20px;
  line-height: 1.5;
  font-family: Optima;
  padding: 25;
}



/* SIDE 3 - TOPIC */
#topicalbilde-digitalcities { /* Bilde "Digital Cities" på side 3 */
  width: 100%;
  height: 83%;
  position: relative;
}

.topical-tekstboks1{ /* Boks med overskriftselementer */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Optima;
  color: white;
  width: 100%;
  height: 84%;
  top: 59%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #00000099;
  flex-direction: column;
}

.topical-data1100{ /* Del av hovedoverskrift */
  text-align: center;
  font-size: 15;
  font-style: normal;
  color: white;
}
  
.topical-hovedoverskrift{ /* Del av hovedoverskrift */
  text-align: center;
  font-size: 60;
  font-weight: bold;
}

.topical-dato{ /* Del av hovedoverskrift */
  text-align: center;
  font-size: 15;
  font-weight: lighter;
  font-style: italic;
}

.bildekilde-digitalcity{ /* Kilde til bilde om Digital Cities */
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: auto;
  height: auto;
  color: white;
}

.topical-førsteavsnitt{ /*Første tekstavsnitt, elementer inni en boks */
  padding-right: 27%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 27%;
  font-size: 18;
  line-height: 2.0;
  font-family: Optima;
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
  border-top: 3px solid #000000;
}

.topical-andreavsnitt{ /* Immediate reactions */
  padding-right: 27%;
  padding-top: 1%;
  padding-left: 27%;
  padding-bottom: 15%;
  font-size: 18;
  line-height: 2.0;
  font-family: Optima;
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
}

.topical-positive{ /* Boks med elementer: Three positive aspects of digital cities */
  width: 25%; /* Bredde på boks */
  min-height: 102%;
  height: auto;
  border: 15px;
  background-color: #20636ad4; /* Farge på boksen */
  padding-left: 30px; /* Polstring. Luft mellom tekst og kant */
  padding-right: 30px;
  padding-top: 10px;
  position: absolute;
  top: 773px; 
  right: 0%;
  line-height: 1.9;
  color: white;
  border-radius: 10px;
  font-family: Optima;
}

.topical-positive h3{ /* Stiliserer overskrift */
  text-align: center;
  font-size: 25;
}

.topical-lenkeimportant{ /* Boks til lenke */
  height: auto;
  width: 250px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14;
  border: 2px solid black;
  text-align: center;
  left: 55;
}

.topical-lenkeimportant a{ /* Fjerner link utseende, og erstatter med svar tekst uten linje under */
  text-decoration: none;
  color: black;
}

.topical-lenkeimportant a:hover{ /* Skygge over linkelementer i nav bar når man rører dem */
  color: #20636ad4;
}

.topical-negative{ /* Boks med elementer: Three negative aspects */
  width: 25%; /* Bredde på boks */
  min-height: 102%;
  height: auto;
  border: 15px;
  background-color: #20636ad4; /* Farge på boksen */
  padding-left: 30px; /* Polstring. Luft mellom tekst og kant */
  padding-right: 30px;
  padding-top: 10px;
  position: absolute;
  top: 773px; 
  line-height: 1.9;
  color: white;
  border-radius: 10px;
  font-family: Optima;
}

.topical-negative h3{
  text-align: center;
  font-size: 25;
}

.topical-lenkenegative{ /* Posisjon og størrelse på boks med lenke */
  height: auto;
  width: 300px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  right: 35;
  margin-top: 55;
  box-shadow: 10px 10px 5px black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14;
  border: 2px solid black;
}

.topical-lenkenegative a{
  text-decoration: none;
  color: black;
}

.topical-lenkenegative a:hover{ /* Skygge over linkelementer i nav bar når man rører dem */
  color: #20636ad4;
}

.container-side3{ /* En "container" som definerer området med et bilde og tekst */
  height: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 2px solid black;
}

.ouropinionsbilde-side3{ /* Bilde på venstre side i container */
  position: relative;
  align-items: center;
  margin: 50px;
}

.topical-femteavsnitt h3{ /* Stilen til overskriften i container */
  font-size: 30px;
  line-height: 3;
  font-family: Optima;
  text-align: center;
}

.topical-femteavsnitt p{ /* Stilen på teksten i container */
  font-size: 18px;
  line-height: 2.0;
  font-family: Optima;
  padding: 25;
  margin-bottom: 70;
}

.ouropinionsbilde-side3 img{ /* Justerer bildet */
  width: 600px;
  height: 350px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-top: 10;
}

.bildecontainer-side3{ /* Container for teksten på bunnen av bildet */
  position: relative;
  text-align: left;
}

.topicalbilde-smartcities{ /*Bildeteksten */
  font-size: 15px;
  color: rgb(250, 247, 247);
  position: absolute;
  bottom: 2px;
  left: 10px;
}

.topical-sjetteavsnitt{ /* More information */
  height: auto;
  width: auto;
  position: absolute;
  top: 1400;
  left: 35%;
  background-color: #20636ad4;
  border-radius: 10px;
  margin-left: 25;
  margin-top: 55;
  box-shadow: 10px 10px 35px black;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  font-family: Optima;
}

.topical-sjetteavsnitt h3{ /* Stiliserer overskrift */
  text-align: center;
  font-size: 25;
  color: white;
}

.topical-sjetteavsnitt ul{ /* Stiliserer listeelementer */
  text-align: center;
  color: white;
  list-style: none;
}

.topical-sjetteavsnitt a{ /* Stiliserer lenkene */
  text-align: center;
  color: white;
  font-size: 13;
  line-height: 2.0;
}

.topical-sjetteavsnitt a:hover{ 
  color: #20636ad4;
}


/*LOCATION FUN PAGE ER UNDER HER- alle navn har unique foran for å ikke komme i konflikt med andre html sider*/

/* Stil for navigasjonsknappen */
.unique-navbar a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 10px 20px; /* Tilpass polstring etter behov */
  background-color: rgba(18, 107, 21, 0.7); /* Mørk lavendel med gjennomsiktig effekt */
  border: none;
  border-radius: 5px; /* Runde hjørner */
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Bakgrunnsendring ved hover for navigasjonsknappen */
.unique-navbar a:hover {
  background-color: rgba(18, 107, 21, 0.7); /* Mørkere lavendel ved hover */
}

/* Firkantede knapper og Dropdown-knapper */
.unique-square-btn,
.unique-dropdown-btn {
  width: 4cm;
  height: 4cm;
  font-size: 16px;
  background-color: rgba(18, 107, 21, 0.7); /* Mørk lavendel med gjennomsiktig effekt */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px; /* Legg til litt margin for avstand mellom knappene */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

/* Bakgrunnsendring ved hover for firkantede og dropdown-knapper */
.unique-square-btn:hover,
.unique-dropdown-btn:hover {
  background-color: rgba(18, 107, 21, 0.7); /* Mørkere lavendel ved hover */
}

/* Dropdown-stiler */
.unique-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.unique-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(18, 107, 21, 0.7); /* Gjennomsiktig mørk lavendel bakgrunn */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 4cm; /* Juster bredden til 4 cm */
}

.unique-dropdown-content a {
  color: white; /* Endret tekstfarge til hvit */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.unique-dropdown-content a:hover {
  background-color: #ddd;
}

.unique-dropdown:hover .unique-dropdown-content {
  display: flex;
  flex-direction: row; /* Endret fra blokk til rad for å plassere elementer ved siden av hverandre */
}

/* Introseksjon-stiler */
.unique-intro-section {
  display: flex;
  flex-direction: column; /* Endre fra rad til kolonne for å plassere elementene over hverandre */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(18, 107, 21, 0.7); /* Gjennomsiktig mørk lavendel bakgrunn */
  width: 80%;
  margin: 2% auto; /* Redusert margin for å plassere nærmere toppen */
  padding: 20px;
  border: none; /* Fjernet grense for å matche stilen på knappene */
  border-radius: 5px; /* Runde hjørner */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Legg til en subtil skyggeeffekt */
  font-family: 'Arial', sans-serif; /* Bruk samme skrifttype */
}

/* Stil for overskrift i Introseksjon */
.unique-intro-section h2 {
  color: white; /* Tekstfarge */
}

/* Stil for avsnitt i Introseksjon */
.unique-intro-section p {
  color: white; /* Tekstfarge */
}

/* -----------------menu under her-----------------*/

/* Custom Menu Modal Style */
.unique-custom-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Stil for innholdet i Custom Menu Modal */
.unique-custom-modal-content {
  background-color: #fefefe; /* Lys grå farge for en elegant design */
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #989898; /* Lett grense for en renere look */
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Legg til en subtil skyggeeffekt */
  border-radius: 5px; /* Runde hjørner */
}

/* Stil for header i Custom Menu Modal */
.unique-custom-modal-header {
  display: flex;
  justify-content: space-between; /* Plasserer elementer på hver sin side */
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #888; /* Samme farge som "SEND MESSAGE" knappen */
  border-radius: 5px; /* Runde hjørner */
}

/* Stil for overskrift i Custom Menu Modal */
.unique-custom-modal-header h1 {
  color: #333; /* Tekstfarge */
}

/* Stil for lukkeknapp i Custom Menu Modal */
.unique-close-button {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #555; /* Farge for kontrast */
}

/* Bakgrunnsendring ved hover for lukkeknapp i Custom Menu Modal */
.unique-close-button:hover,
.unique-close-button:focus {
  color: #333; /* Mørkere farge ved hover for bedre synlighet */
}

/* Stil for Special Menu i Custom Menu Modal */
.unique-special-menu {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Tekstfarge */
}

/* Stil for kroppen i Custom Menu Modal */
.unique-custom-modal-body {
  padding: 20px;
}

/* Animasjon for zoomeffekt i Custom Menu Modal */
.unique-animate-zoom {
  animation: unique-zoom 0.6s;
}

/* Keyframes for zoomeffekt i Custom Menu Modal */
@keyframes unique-zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* ----------------Stil for body under her---------- */

/* Stil for body (felles for alle sider) */
.unique-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Setter høyden til 100% av visningsvinduet */
  margin: 0; /* Fjerner standardkroppsmarginer */
}

/* ----------------Stil for contact under her---------- */

/* Kontaktmodal Stiler */
#uniqueContact {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Stil for innholdet i Kontaktmodal */
#uniqueContact .unique-custom-modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #989898;
  width: 80%;
}

/* Stil for container i Kontaktmodal */
#uniqueContact .unique-custom-container {
  margin-bottom: 20px;
}

/* Stil for header i Kontaktmodal */
#uniqueContact .unique-custom-header {
  text-align: center;
  padding: 15px;
  border: 1px solid #888; /* Samme farge som "SEND MESSAGE" knappen */
  border-radius: 5px; /* Runde hjørner */
}

/* Stil for lukkeknapp i Kontaktmodal */
#uniqueContact .unique-close-button {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Stil for lukkeknapp ved hover i Kontaktmodal */
#uniqueContact .unique-close-button:hover,
#uniqueContact .unique-close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Stil for overskrift i Kontaktmodal */
#uniqueContact h1 {
  color: #000; /* Svart tekstfarge */
}

/* Stil for tekst i Kontaktmodal */
#uniqueContact p {
  color: #666; /* Grå tekstfarge */
}

/* Stil for skjema i Kontaktmodal */
#uniqueContact form {
  margin-top: 20px;
}

/* Stil for gruppe i Kontaktmodal */
#uniqueContact .unique-form-group {
  margin-bottom: 15px;
}

/* Stil for input i Kontaktmodal */
#uniqueContact .unique-custom-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Stil for tekstområde i Kontaktmodal */
#uniqueContact textarea {
  height: 100px;
  resize: vertical;
}

/* Stil for label i Kontaktmodal */
#uniqueContact label {
  display: block;
}

/* Stil for knapp i Kontaktmodal */
#uniqueContact .unique-custom-button {
  background-color: #888; /* Samme farge som "SEND MESSAGE" knappen */
  color: #fff; /* Hvit tekstfarge */
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Stil for knapp ved hover i Kontaktmodal */
#uniqueContact .unique-custom-button:hover {
  background-color: #989898; /* Grå ved hover */
}

/* -----------Stil for bilde under her-----------*/

/* Stil for bilde */
.unique-deliciousfood-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden; /* Skjuler elementer som går utenfor rammene */
}

/* Stil for bilde */
.unique-img {
  max-width: 100%; /* Bildet vil ikke overstige bredden på foreldreelementet */
  height: auto; /* Automatisk høyde for å opprettholde proporsjoner */
  display: block;
  margin: 0 auto; /* Sentrer bildet horisontalt */
  filter: blur(3px); /* Blur-effekt */
}

/* Stil for referanse til bilde, nederst til venstre */
.unique-bilde-referanse {
  position: fixed; /* Endre til fixed for å holde det synlig uansett rulleposisjon */
  bottom: 20px;
  left: 20px; /* Juster venstremargen etter behov */
  color: white; /* Tekstfarge i hvitt */
  font-size: 14px;
  z-index: 1;
}
