
* { /* navbar fyller ut hele siden */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav { /* Navigation bar */
    display: flex;
    align-items: center;
    background-color: #3cb6c6;
    height: 50px;
    padding: 80px 100px;
    justify-content: space-around;
}

nav li {
    display: inline-block;
    margin-right: 20px; /* Adjust as needed */
    position: relative;
}

.logo a { /* fjerner "link" funksjon */
    text-decoration: none;
    color: #000000; 
    height: 130px;  
}

.logo { /*logo posisjon */
    display: flex;
    justify-content: space-around;
    margin-right: 0%;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: Optima;
}

.nav-menu { /* Navbar elementers plassering */ 
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25px;
}

.nav-menu a { /* elementer i navbar style */
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-family: Optima;
}
.nav-menu a:hover { /*skygge over elementer når man rører dem */
    color: grey;
}


/*SIDE 1 INDEX */
#index_image { /* bilde på index side */
    max-height: 750px;
    min-height: 170px;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
    width: 100%;
}

.image-text{ 
    position: relative;
    text-align: center;
    color:blanchedalmond;
  }

.nede-venstre{ /* kilde nederst på bilde index side */
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 20px;
}

.sirkel-1 {
    width: 100px; /* Sett ønsket bredde og høyde for sirkelen */
    height: 90px;
    border-radius: 50%; /* Gjør en firkantet div til en sirkel */
    background-color:blanchedalmond;
    border-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50x;
    margin-bottom: 4px;

}
.index-tekstboks {
    width: 750px;
    height: 350px;
    border: 15px;
    background-color: #20636ad4;
    padding: 20px;
    position: absolute;
    top: 280px;
    right: 0;
    text-align: left;
}

.index-tekstboks h2 {
    font-weight: 500;
    line-height: 1;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Optima;
}

.index-tekstboks h3 {
    font-weight: 500;
    color: white;
    font-size: 30px;
    line-height: 1.5;
    font-family: Optima;
 
}

.info-boks {
    right: 0;
    left: 0;
    background-color: blanchedalmond;
    height: 350px;
}

.info-boks h3 {
    font-weight: 200px;
    font-size: 23px;
    line-height: 8;
    margin-left: 100px;
    font-family: Optima;

}

.les-mer-boks {
    height: 50px;
    width: 200px;
    left: 95px;
    right: 30px;
    position: absolute;
    background-color: #20636ad4;
    border-radius: 10px;
    text-align: center;
}

.les-mer-boks h4{
    margin-top: 5px;
    font-weight: 600;
    font-family: Optima;
}

.les-mer-boks a {
    text-decoration: none;
    color: white;
}

.les-mer-boks a:hover { /*skygge over elementer når man rører dem */
    color: grey;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#20636ad4;
}

img {
    width: 50vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
    
}

.bottom-nav { /*navbar på bunn */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3cb6c6;
    height: 150px;
    padding: 20px 100px; /* Adjust the padding as needed */
}

.bottom-nav li{ /*nederst navbar tekst */
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-family: Optima;
}
    

/* SIDE 3 - TOPIC */

#side3Bilde-DigitalCities{ /* Bilde "Digital Cities" på side 3 */
  width: 100%;
  height: 80%;
  object-fit: cover;
}


.side3-overskriftsboks{ /* Boksen på størrelse med bilde */
  position: relative; 
  display: inline-block;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.side3-tekstboks1{ /* Elementene inni boksen */
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Optima;
  color: white;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #0000006e;
  flex-direction: column;
}


.Bildekilde-DigitalCity{ /* Kilde til bilde om Digital Cities */
  bottom: 8px;
  left: 16px;
  font-size: 25px;
}



.side3-førsteavsnitt{ /*Elementene inni boksen */
  padding-right: 27%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 27%;
  font-size: 18;
  line-height: 2.0;
  font-family: Optima;
  width: 100%;
  height: auto;
  background-color: #3cb6c68e;
  
}

.side3-andreavsnitt{ /* Immediate reactions */
  padding-right: 27%;
  padding-top: 1%;
  padding-left: 27%;
  padding-bottom: 6%;
  font-size: 18;
  line-height: 2.0;
  font-family: Optima;
  width: 100%;
  height: auto;
  background-color: #3cb6c68e;
}

.side3-tredjeavsnitt{ /* Three positive aspects of digital cities */
  width: 22%; /* Bredde på boks */
  height: auto;
  border: 15px;
  background-color: #3cb6c6; /* Farge på boksen */
  padding: 30px; /* Polstring. Luft mellom tekst og kant */
  outline-style: hidden;
  position: absolute;
  top: 804px; 
  right: 0%;
  line-height: 1.5;
  outline-style: double; /* Bokskant */

}

.side3-fjerdeavsnitt{ /* Three negative aspects */
  width: 22%; /* Bredde på boks */
  height: auto;
  border: 15px;
  background-color: #3cb6c6; /* Farge på boksen */
  padding: 30px; /* Polstring. Luft mellom tekst og kant */
  outline-style: hidden;
  position: absolute;
  top: 803px; 
  left: 0%;
  line-height: 1.5;
  outline-style: double;
}

.side3Bilde-SmartCities{ /*Bilde "Smart Cities" på side 3 */
  width: 100%;
  height: auto;
  object-fit: contain;
}

.side3-OurOpinionsBildeboks { /* Boksen på størrelse med bilde */
  position: relative; 
  display: inline-block;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.side3-femteavsnitt{ /* Our opinions, elemtene inne i boksen */
  position: absolute;
  display: flex;
  text-align: left;
  font-family: Optima;
  color: white;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #0000006e;
  flex-direction: column;
  line-height: 1.5;
  justify-content: center;
  font-size: 18;
  padding-right: 57%;
  padding-top: 2%;
  padding-left: 1%;
  align-items: left;
  justify-content: left;
}


.side3-sjetteavsnitt{ /* More information */
  width: 300px; /* Bredde på boks */
  height: auto;
  background-color: #3cb6c6; /* Farge på boksen */
  padding: 45px; /* Polstring. Luft mellom tekst og kant */
  outline-style: hidden;
  position: absolute;
  top: 25%; 
  right: 15%;
  outline-style: double;
  line-height: 1.5;
}

.side3-sjetteavsnitt a:hover{
color: red;
}


.side3-data1100{
  text-align: center;
  font-size: 15;
  font-style: normal;
  color: white;
}
  
.side3-hovedoverskrift{
  text-align: center;
  font-size: 60;
  font-weight: bold;
}

.side3-dato{
  text-align: center;
  font-size: 15;
  font-weight: lighter;
  font-style: italic;
}




/* LOCATION FUN PAGE ER UNDER HER*/

/* Header Styles */
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header p {
    margin: 10px 0;
  }

#drink-menu {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  
  .menu-item-title {
    color: #333;
    text-align: center;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
  }
  
  .menu-item {
    margin: 10px 0;
  }
  
  #creative-hot-menu {
    background-color: #3cb6c6;
  }
  
  
  /* Game/ spill css */
  #game-container {
    margin-top: 50px;
  }
  
  #prize {
    display: none;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  
  .spin-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  /* Dropdown Button */
.dropbtn {
    background-color: #4c89af;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown Content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

 
  
  /* Spin Section Styles */
  .spin-section {
    text-align: center;
    margin-top: 50px;
  }
  
  .spin-section h2 {
    color: #333;
    font-size: 24px;
  }
  
  .spin-section p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }

  /* Style for dropdown */
  .dropdown-menu {
    display: inline-block;
  }
  
  
/* Navbar Styles */
nav {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #3cb6c6;
    height: 100px;
  }
  
  .logo a {
    text-decoration: none;
    color: #000000;
    height: 50px;
  }
  
  .nav-menu-canteen {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 50px;
  }
  
  .nav-menu-canteen a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* Menu Container Styles */
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 20px;
  }
  
  .menu-item {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  
  .menu-item h3 {
    color: #333;
  }
  
  .menu-item p {
    color: #666;
  }
  
  .menu-item .dropdown-menu {
    display: inline-block;
  }
  
  .menu-item .dropdown-menu button {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menu-item .dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
  }
  
  .menu-item .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .image-kantine {
    position: relative;
  }
  
  #oslometkantine {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Rundede hjørner for bildecontaineren */
  }
  
  .bildekantine {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 14px;
  }
  